
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
    /* background-color: #2c2c2c */
}

.header {
    width: 100%;
    /* color: white; */
    /* height:20rem; */
}

.jumbotron{
    color : yellowgreen;
    background-image: url("../images/computer_coding.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.5; */
    height:20rem;
    text-align: center;
}

.navbar {
    padding: .8rem;
    /* color: white; */
    /* border-bottom: 2px solid #cccccc; */
}

.navbar-brand {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;
    padding: 0;
}
